<ul class="nav justify-content-center">
  <li class="nav-item">
    <button class="nav-link active" aria-current="page">Active</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" [routerLink]="['/manage-customer']" routerLinkActive="router-link-active" ]>Add
      CustomerLink</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" [routerLink]="['/app-view-all-customer']" routerLinkActive="router-link-active" ]>View All
      CustomerLink</button>
  </li>
  <li class="nav-item">
    <button class="nav-link disabled" aria-disabled="true">Disabled</button>
  </li>
</ul>